.header,.hero,.body,.bar,.footer{
    background-color: rgb(32, 252, 80);
    margin-bottom: 10px;
}
.box{
    margin: 10px 0;
    min-height: 80px;
    background-color:red;
    color: white;
    font-size: 30px;

}
.red{
    background-color: black;
}
.five{
    background-color: rgb(104, 27, 206);
}